.blog{
  margin-top: 0;
  &__title{
    font-size: 20px;
    font-weight: 600;
    color: $mainColor;
    margin-bottom: 12px;
  }
  &__underline{
    width: 90%;
    height: 3px;
    background-color:#e2e2e2;
    display: inline-block;
    margin-bottom: 30px;
  }
}

.blog{
  margin-top: 0;
}

.blog .carousel-indicators {
  position: absolute;
  left: 93%;
  top: 25px;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: none ;
}

.blog .carousel-indicators .active {
  background: $mainColor;
}

.item-box-blog {
  border: none;
  text-align: center;
}

.item-box-blog:hover .item-box-blog-btn{
  background-color: $mainColor;
  border: none;
}

.item-box-blog:hover .item-box-body-title{
  color: $mainColor;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  top: 225px;
  right: 8%;
}

.item-box-blog-date span {
  padding: 26px;
  font-size: 13px;
  line-height: 1;
  color: #676767;
}

.item-box-blog-body {
  padding: 22px 30px;
}

.item-box-body-title {
  margin: 0;
  line-height: 1;
  color: #2a2a2a;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}


.item-box-blog-text {
  margin: 14px 0 0 0;
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}

.item-box-blog-btn{
  padding: 16px 40px;
  margin-top: 38px;
}