.footer-bg{
  background-color: #363636;
}

.footer-info{
  & a:hover{
    text-decoration-line: underline;
    text-underline: white;
    text-decoration-color: white;
    text-decoration-style: unset;
    text-underline-position: under;
  }
  &__wrapper{
    padding: 60px 38px;

  }
  & h5{
    font-size: 22px;
  }
}

.copyright-bg{
  background-color: $colorPrice;
  & i{
    color: #a1a1a1;
    font-size: 18px;
    &:hover{
      color: $mainColor;
    }
  }
}
