.furniture {
  margin-top: 60px;
  margin-bottom: 50px;
  &__menu{
    text-transform: uppercase;
    padding-bottom: 30px;
    border-bottom: 1px solid $grayBlack;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__wrapper{
    display: flex;
    justify-content: center;
    &_hidden{
      display: none;
    }
  }

  &__btn-load {
    display: block;
  }
  &__load-icon{
    font-size: 26px;
    color: $black;
    background: $grayBlue;
    border: 1px solid $grayBlue;
    padding: 15px;
    border-radius: 50%;
    &:hover{
      background: $mainColor;
    }
  }

  &__card {
    max-width: 264px;

    &:hover .furniture__price {
      background: $mainColor;
    }

    &:hover .furniture__description {
      color: $mainColor;
    }

    &:hover .furniture__block-hover {
      justify-content: space-between;
      display: flex;
    }
    &:hover .furniture__sale-hover {
      display: inline-block;
    }
  }

  &__img {
    position: relative;
    width: 262px;
    height: 260px;
    padding: 5px;
    opacity: 0.8;
    background-color: $grayBlue;
  }

  &__info {
    font-size: 16px;
    font-weight: bold;
  }

  &__line {
    background: #000;
    margin-bottom: 20px;

    &::before {
      content: '';
      width: 30px;
      height: 5px;
      background-color: #d58e32;
      display: block;
      position: relative;
      margin: 0 auto;
      top: -3px;
    }
  }

  &__price {
    font-weight: bold;
    background: $black;
    color: $white;
    padding: 8px;
  }

  &__icon-exchange {
    border: 1px solid $black;
    cursor: pointer;
  }

  &__icon-favorites {
    border: 1px solid $black;
    cursor: pointer;

    &:hover {
      color: $mainColor;
      border: $mainColor;
    }
  }

  &__block-hover {
    display: none;
    position: absolute;
    bottom: 140px;
    font-size: 11px;
    padding: 0 12px;
    width: 100%;
    cursor: pointer;
  }

  &__text-hover {
    font-size: 12px;
    background: $grayBlack;
    color: $white;
    padding: 12px 8px;
  }

  &__basket-hover {
    @extend .furniture__text-hover
  }
  &__sale-hover{
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    text-decoration: none;
    padding: 6px 8px 8px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: 0.3s;
    background-color: $grayBlack;
    color: $white;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
  }

  &__filters-title {
    font-size: 24px;
    font-weight: 500;
  }
}


//rate
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  padding: 12px 0 4px 0;

  &__star {
    display: inline-block;
    position: relative;
    width: 16px;
    font-size: 25px;
    color: $gray;
    cursor: pointer;

    &_active:before {
      content: "\2605";
      position: absolute;
      color: $grayBlack;
    }
  }

  &__star:hover:before,
  &__star:hover ~ &__star:before {
    content: "\2605";
    position: absolute;
    color: $grayBlack;
  }
}

.filter {
  &__block {
    margin-bottom: 50px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    border-bottom: 1px solid $grayBlack;
  }

  &__list {
    display: block;
  }

  &__item {
    margin-bottom: 14px;
    font-size: 13px;
    font-weight: 400;
    list-style: none;
  }

  &__link {
    cursor: pointer;
    align-items: center;

    &-icon {
      padding-right: 5px;
    }

    &:hover .filter__link-text {
      color: $mainColor;
    }

    &:hover .filter__link-counter {
      background-color: $mainColor;
    }
  }

  &__link-text {
    transition: 0.4s;
    color: $grayBlack;

    &_active {
      color: $mainColor;
    }
  }

  &__link-counter {
    transition: 0.4s;
    width: 24px;
    height: 24px;
    color: $white;
    line-height: 24px;
    text-align: center;
    border-radius: 24px;
    background-color: $grayBlack;

    &_active {
      background-color: $mainColor;
    }
  }

  //range slider
  &__slider-element {
    position: relative;
  }

  &__slider-wrapper {
    margin: 10px 0;
    height: 30px;
  }

  &__slider-line {
    height: 8px;
    width: 100%;
    border: 1px solid $gray;
    box-sizing: border-box;
  }

  &__slider-dark-line {
    position: absolute;
    height: 8px;
    background-color: $black;
    width: 100px;
  }

  &__slider-circle {
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: $white;
    border: 2px solid $mainColor;
    cursor: pointer;

    &_second-right {
      left: 100px;
    }
  }

  &__slider-btn {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    color: $white;
    background-color: $mainColor;
    display: inline;
    padding: 10px 14px;
  }

  &__slider-input {
    font-weight: 600;
    width: 114px;
    text-align: center;
    color: $grayBlack;
    font-size: 14px;
  }

  //color filter
  &__color-list {
    margin: 30px 0;
  }
  &__color-item{
    color: $grayBlack;
    padding-bottom: 5px;
    display: block;
    list-style: none;
    & label {
      padding: 0 0 0 5px;
      &:hover{
        color: $mainColor;
      }
    }
    &_red{
      color: $mainColor;
      & input[type=checkbox] + label:before {
        background: $red;
        border: 0.1rem solid $red;
      }
      & input[type=checkbox]:checked + label:before {
        background-color: $red;
        border-color: $red;
        color: $white;
      }
    }
    &_black {
      & input[type=checkbox] + label:before {
        background: $black;
        border: 0.1rem solid $black;
      }
      & input[type=checkbox]:checked + label:before {
        background-color: $black;
        border-color: $black;
        color: $white;
      }
    }

    &_yellow {
      & input[type=checkbox] + label:before {
        background: $yellow;
        border: 0.1rem solid $yellow;
      }
      & input[type=checkbox]:checked + label:before {
        background-color: $yellow;
        border-color: $yellow;
        color: $black;
      }
    }

    &_blue {
      & input[type=checkbox] + label:before {
        background: $blue;
        border: 0.1rem solid $blue;
      }
      & input[type=checkbox]:checked + label:before {
        background-color: $blue;
        border-color: $blue;
        color: $white;
      }
    }

    &_pink {
      & input[type=checkbox] + label:before {
        background: $pink;
        border: 0.1rem solid $pink;
      }
      & input[type=checkbox]:checked + label:before {
        background-color: $pink;
        border-color: $pink;
        color:$white;
      }
    }

    &_green {
      & input[type=checkbox] + label:before {
        background: green;
        border: 0.1rem solid green;
      }
      & input[type=checkbox]:checked + label:before {
        background-color: green;
        border-color: green;
        color: $white;
      }
    }
  }
  //size filter
  &__size-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    font-size: 13px;
    & input[type=checkbox]:checked + label{
      color: $mainColor;
    }
    & input[type=checkbox]:checked + label:before {
      background-color: $mainColor;
      border-color: $mainColor;
      color: $white;
    }
    & label {
      padding: 0 0 0 5px;
      &:hover{
        color: $mainColor;
      }
    }
    &_active {
      color: $mainColor;
      & input[type=checkbox] + label:before {
        background: $mainColor;
        border: 0.1rem solid $mainColor;
      }

      & input[type=checkbox]:checked + label:before {
        background-color: $mainColor;
        border-color: $mainColor;
        color: $white;
      }
    }
  }
  //tags filter
  &__tag{
    font-size: 14px;
    padding: 10px;
    color: $gray;
    border: 1px solid $gray;
    display: inline-block;
    margin: 3px;
    cursor: pointer;
    &_active{
      color: $mainColor;
      border: 1px solid $mainColor;
    }
    &:hover{
      @extend .filter__tag_active
    }
  }
  &__tag-icon{
    padding-right: 5px;
  }
}

//inputs data
input[type=checkbox] + label {
  display: block;
  margin: 0.2rem 0.2rem 0.2rem 0;
  cursor: pointer;
  padding: 0.2rem;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1rem solid #000;
  border-radius: 0.15rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.7rem;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

.filter__size-list > a{
  color: black;
}

.card-body{
  padding: 10px;
}

// modal

.body-quick-view{
  padding: 26px 28px 57px 20px;
}

.modal-review{
  font-size: 13px;
}

.modal-add-cart{
  background-color: $mainColor;
  cursor: pointer;
}

.modal-discount{
  font-size: 16px;
}

.modal-social{
  border: 1px solid black;
  cursor: pointer;
}

.modal-social > i {
  font-size: 16px;
}