.gallery {
  margin-bottom: 60px;
  &__tabs{
    &-title{
      position: relative;
      margin-bottom: 45px;
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
      color: $mainColor;
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 27px;
        width: 100%;
        height: 2px;
        background-color: #8080804a;;
      }
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 26px;
        left: 0;
        width: 44px;
        height: 3px;
        background-color: $mainColor;
      }
    }
    &-menu {
      & li {

        & a {

          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          color: #000;
        }
      }
    }
    &-content {
      &--heart {
        margin-top: 130px;
        padding: 11px;
        width: 42px;
        border: 1px solid black;
        font-size: 18px;
      }
      &--eye {
        padding: 11px;
        width: 42px;
        border: 1px solid black;
        font-size: 18px;
      }
      &--basket {
        margin-bottom: 15px;
        padding: 11px;
        width: 42px;
        border: 1px solid black;
        font-size: 18px;
      }
      &--price {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 300px;
        right: 88px;
        width: 105px;
        height: 105px;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        & h3 {
          font-size: 20px;
        }
        & span {
          text-decoration-line: line-through;
        }
      }
      &--data {
        position: relative;
        margin-bottom: 32px;
        background-color: #fff;
        z-index: 1;
        box-shadow: 0 2px 7px 0 rgba(0,0,0,0.5);
        &:after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          display: inline-block;
          border: 20px solid transparent;
          border-right: 20px solid $colorPrice;
          border-bottom: 20px solid $colorPrice;
        }
        &:before {
          content: "";
          position: absolute;
          display: inline-block;
          border: 20px solid transparent;
          border-left: 20px solid $colorPrice;
          border-top: 20px solid $colorPrice;
        }
        & h3 {
          font-size: 16px;
          margin: 32px 44px 14px;
        }
      }
    }
  }
  &__item {
    padding-top: 71px;
    padding-left: 62px;
    background-color: #e8edf7;
    &-indicator {
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &-price {
      font-size: 48px;
      font-weight: 600;
      text-transform: uppercase;
      color: #79ae30;
    }
    &-info {
      text-transform: capitalize;
      font-size: 48px;
      font-weight: 600;
      color: #d58e32;
    }
    &-button {
      padding: 12px 24px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      background-color: #79ae30;
      color: #fff;
    }
    &-img {
      transform: rotateY(180deg);
      width: 467px;

    }
  }
}

.nav-link {
  padding: 1rem 1.9rem;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  box-shadow: inset 0 2px  $mainColor;
  color: $mainColor;
  background-color: #f4f5f7;
}
.nav-tabs .nav-link {
  border: #e9ecef 1px solid;
}

#featured {
  background-image: url("../../img/products/top-seller/10.png");
  background-color: #f4f5f7;
  background-size: contain;
  background-repeat: no-repeat;
}

#menu1 {
  background-image: url("../../img/products/top-seller/11.png");
  background-color: #f4f5f7;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

#menu2 {
  background-image: url("../../img/products/top-seller/16.png");
  background-color: #f4f5f7;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

#menu3 {
  background-image: url("../../img/products/top-seller/13.png");
  background-color: #f4f5f7;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.tab-content{
  height: 400px;
}
