.wrapper-header {
    background-color: #434343;
}
.header {
    font-size: 13px;
    padding: 20px 15px;
    &__info {
      &-services {
      padding-bottom: 2px;
      &:hover {
      text-decoration: none;
      border-bottom: 1px solid #fff;
        }
      }
      &-form {
        &--login {
          & a{
            padding-bottom: 2px;
          &:hover {
            text-decoration: none;
            border-bottom: 1px solid #fff;
            }
          }
        }
      &--register {
        & a{
          padding-bottom: 2px;
          &:hover {
           text-decoration: none;
           border-bottom: 1px solid #fff;
            }
        }
      }
    }
  }
}

.register-dialog {
  margin: 7rem auto;
}

.login-dialog {
  margin: 9rem auto;
}

.modal-header .close {
    padding: 10px 14px;
    font-weight: 700;
    font-size: 22px;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    background-color: #2a2a2a;
    opacity: 1;
}

.modal-header .close:hover {
    background-color: #d58e32;
    box-shadow: none;
}

.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

.modal-body{
    padding-top: 20px;
}

.modal-title{
    font-weight: 600;
    font-size: 30px;
}

.form-control:focus {
    box-shadow: 0 6px 19px 0 rgba(0,0,0,0.25);
    outline: none;
    border: none;
    transition: 0.5s;
}

.modal-footer {
    margin-bottom: 2rem;
}

.modal-footer button {
    padding: 0 38px;
    text-transform: uppercase;
    font-weight: 600;
}

.wrapper-title {
  background-color: #363636;
}

.title {
  padding: 34px 15px;
  &__mobile {
      & i {
        font-size: 28px;
        color: #d58e32;
      }
      & a {
        font-size: 17px;
        font-weight: 600;
        color: #d8d8d8;
        padding-bottom: 2px;
        &:hover {
          text-decoration: none;
          border-bottom: 1px solid #fff;
        }
    }
  }
  &__basket {
    & div {
      position: relative;
    }
    & i {
      padding: 14px 12px;
      font-size: 28px;
      background-color: #d58e32;
      color: #fff;
    }
    & span {
      position: absolute;
      top: 15px;
      right: -16px;
      padding: 5px 8px;
      background-color: #363636;
    }
  }
}

.basket-title {
  text-align: center;
  font-size: 49px;
  font-weight: 600;
  color: #939393;
}

.basket-subtitle {
  text-align: center;
  font-size: 23px;
  font-weight: 300;
  color: #939393;
}


.basket-dialog {
  margin: 11rem auto;
}

.wrapper-navbar {
   box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.navbar-brand {
  padding-top: 30px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 30px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  &:hover {
    color: #fff;
    box-shadow: inset 0 4px black;
    background-color: #d58e32;
  }
  &:focus {
    color: #fff;
    box-shadow: inset 0 4px black;
    background-color: #d58e32;
  }
}

.navbar-input {
  width: 320px;
  border: 1px solid black;
  font-size: 14px;
  position: relative;
}
.icon-search {
  position: absolute;
  left: 295px;
  font-size: 15px;
  color: #000;
  z-index: 2;
}
