.services {
  &__item {
    margin-top: 70px;
      &:hover {
        color: #e0a38e;
      }
    &-circle {
      position: absolute;
      left: 110px;
      bottom: 85px;
      border: 1px solid #80808069;
      width: 76px;
      height: 76px;
      background-color: #fff;
      &:hover {
        border-color: $mainColor;
        & div {
          background-color: $mainColor;
          & i {
            color: #fff;
          }
        }
      }
      & div {
        width: 62px;
        height: 62px;
        border: 1px solid #80808069;
        & i {
          color: #000;
          font-size: 20px;
        }
      }
    }
    &-title {
      padding-top: 52px;
      border: 1px solid #80808069;
      position: relative;
      z-index: -1;
      & h3{
        font-size: 22px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
      }
      & p {
        font-size: 22px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }
}

.services-icon {
  transform: rotateY(180deg);
}