.added-item { // Исправил класс и добавил этот к классу carousel-item
  height: 505px;
}
// Исправил твой код, он мешал работать моему слайдеру
.carousel-control-prev, .carousel-control-next {
  width: 50%;
  opacity: 1;
  background-color: $colorPrice;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  display: inline-block;
  margin: 13px;
  width: 11px;
  height: 11px;
}

.carousel-next:hover, .carousel-prev:hover{
  background-color: $mainColor;
  opacity: 1;
}

.carousel-wrapper {
  position: relative;
  margin-top: 60px;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  bottom: 85%;
  right: 0;
  left: 0;
}

.carousel-title {
  padding-top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 46px;
}

.carousel-title-sm {
  letter-spacing: 0;
  font-weight: 400;
}

.carousel-text {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.carousel-button {
  position: absolute;
  padding: 14px 28px;
  right: 45%;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.carousel-button:hover {
  color: #fff;
  background-color: $mainColor;
}