.stocks-section{
  margin-top: 30px;
}

.stocks-big{
  height: 420px;
  background-image: url("../img/stocks/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.stocks-big-bg{
  height: 355px;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
  margin: 32px auto;
}

.stocks-big-bg > h2{
  width: 50%;
  font-size: 36px;
  font-weight: bold;
  line-height: 0.9;
  color: white;
  margin-left: 20px;
}

.stocks-big-bg > h2 > span{
  font-size: 67px;
  font-weight: bold;
  //letter-spacing: 1px;
}

.stocks-big-bg > span{
  display: flex;
  width: 180px;
  font-size: 45px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 7px 20px;
  border: 6px solid white;
  letter-spacing: 1px;
}

.stocks-small-1{
  height: 195px;
  background-color: #e8edf7;
}

.stocks-small-1-img1{
  background: url("../img/stocks/2.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(1.3);
}

.stocks-small-1-img2{
  transform: scale(-1, 1)
}

.stocks-small-1 > div > h3{
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  line-height: 1.4;
}

.stocks-small-1 > div > h3 > span{
  font-weight: 600;

}
.stocks-small-1 > div > p{
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-bottom: 16px;
  letter-spacing: 3px;
}

.stocks-small-1 > div > span{
  font-size: 30px;
  font-weight: bold;
  color: #d58e32;
  line-height: 1;
}

.stocks-small-2{
  height: 195px;
  background-color: #fbf3f7;
  margin-top: 30px;
}

.stocks-small-2 > div > h3 {
  color: #d58e32;
  font-size: 24px;
  font-weight: 400;
}

.stocks-small-2 > div > h3 > span {
  color: #d58e32;
  font-size: 24px;
  font-weight: bold;
}

.stocks-small-2 > img{
  transform: scale(-1, 1);
}

.stocks-small-2 > div > p{
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}
