.subscribe{
  margin-top: 44px;
  background-color: #f2f2f2;
  &__form{
    width: 486px;
    position: relative;
  }
  &__mail-icon{
    font-size: 18px;
    position: absolute;
    top: 16px;
    left: 16px;
    color: $mainColor;
  }
  &__mail-line{
    position: absolute;
    top: 16px;
    left: 48px;
    border-right: 1px solid #bebebe;
    height: 18px;
  }
  &__input {
    height: 46px;
    padding: 16px 16px 16px 67px;
    &::-webkit-input-placeholder {
      font-size: 15px;
      color:#bebebe;
    }
    &::-moz-placeholder {
      color: #bebebe;
      font-size: 15px;
    } /* Firefox 19+ */
    &:-moz-placeholder{
      color: #bebebe;
      font-size: 15px;
    } /* Firefox 18- */
    &:-ms-input-placeholder {
      font-size: 15px;
      color: #bebebe;
    }
  }
  &__text{
    margin-right: 57px;
    font-weight: 600;
    color: $mainColor;
  }
  &__arrow-right {
    color: $mainColor;
    background-color: $white;
  }
  &__btn{
    margin-left: 20px;
  }
}
