@mixin cart {
  background-color: $goods-bg;
  background-image: url("../img/products/furniture/1.png");
  width: 252px;
  height: 260px;
  background-size: cover;
  border: none;
  overflow: hidden;
  position: relative;
}