$goods-bg: #f4f5f7;
$mainColor: #d58e32;
$colorPrice: #2a2a2a;
$goods-bg: #f4f5f7;
$white: #ffffff;
$lightBlue: #e8edf7;
$lightPink: #fbf3f7;
$grayBlue: #f4f5f7;
$gray: #a5a5a5;
$black: black;
$grayBlack:#2a2a2a;
$pink:#ff33cc;
$red:#f00;
$yellow:#ffff00;
$blue:#0099cc;